body {
  background-color: rgb(234,203,128);
}

#clock {
  height: 300px;
  width: 1000px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  font-family: courier, monospace;
  text-align: center;
  color: rgb(238,238,238);
  font-size: 200px;
}
