body {
  background-color: rgb(234,203,128);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#day {
  color: rgb(238,238,238);
  font-size: 180px;
  padding-top: 100px;
  font-weight: 500;
}

#calendar {
  color: rgb(238,238,238);
  font-size: 80px;
}

#clock {
  color: rgb(238,238,238);
  font-size: 150px;
}
